*.apk
*.aar
*.ap_
*.aab
*.dex
*.class
bin/
gen/
out/
.gradle/
build/
app/build/
local.properties
proguard/
*.log
.navigation/
captures/
*.iml
.idea/
.externalNativeBuild
.cxx/
*.jks
*.keystore
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
fastlane/readme.md
vcs.xml
lint/intermediates/
lint/generated/
lint/outputs/
lint/tmp/
.cg/
release.properties
